body {
  padding: 1rem;
}

p.errorMsg {
  color: red;
  margin-top: 0.3rem;
}

label {
  display: inline-block;
  margin-bottom: 0.2rem;
}

input {
  border: solid 1px gray;
  outline: 0;
}
input.errorMsg {
  border: solid 1px red;
}

form {
  border: dashed 1px #009688;
  padding: 1rem;
  margin-bottom: 2rem;
}

form > div {
  margin-bottom: 2rem;
}
